svg{
  margin: 0;
  font-size: 0;
}
.down{
  /* transform: rotate(180deg); */
  /*position: relative;*/
  /*left: -25px;*/
}



.container{
    position: relative;
  display: inline-block;
  margin: 0;
  /*left: -25px;*/
}
.triangle-down{
  margin:0;
  display: inline-block;
  margin: 0;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid black;
}
.triangle-down .inner{
  margin:0;
    position: relative;
    width: 0;
	height: 0;
	border-left: 23px solid transparent;
	border-right: 23px solid transparent;
	border-top: 40px solid red;
    top: -42px;
    left: -23px;
}

.triangle-up{
    display: inline-block;
    margin: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 43px solid black;
}
.triangle-up .inner{
    position: relative;
  margin:0;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 40px solid red;
    top: 2px;
    left: -23px;
}