#main{
    display: flex;
    background: yellow;
}

.card{
    background: plum;
    width: 50px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}

@media screen and (max-width: 1000px){
    .card{
        transform: scale(0.9);
    }
}
@media screen and (max-width: 900px){
    .card{
        transform: scale(0.8);
    }
}