.letter{
  margin: 0;
  position: relative;
  display: inline-block;
  height: 100px;
  // width: 75px;
  width: 80px;
  background-color: orange;
  overflow: hidden;
  .inset{
    position: absolute;
    height: 0;
    width: 0;
  }
  // for the letter k
  &.k{
    // upper triangle
    .k1{
      border-top: 50px solid black;
      border-right: 50px solid transparent;
      top: 0;
      left: 20px;
      // transform: translateX(-50%);
    }
    // lower triangle
    .k2{
      border-bottom: 50px solid black;
      border-right: 50px solid transparent;
      bottom: 0;
      left: 20px;
      // transform: translateX(-50%);
    }
    // triangle on right that forms right side of k
    .k3{
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 50px solid transparent;
      border-right: 50px solid red;
      right: 0;
    }
    // triangle on right
    .k4{
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 40px solid transparent;
      border-right: 40px solid black;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    // rectangle that forms right side of left stroke
    .k5{
      width: 10px;
      height: 100%;
      left: 10px;
      background-color: red;
    }
  }
  // for the letter y
  &.y{
    transform: translateY(50%);
    .y1{
      left: 0;
      width: 10px;
      height: 100%;
      background-color: red;
    }
    .y2{
      right: 0;
      width: 10px;
      height: 100%;
      background-color: red;
    }
    .ya{
      width: 40px;
      height: 60px;
      background-color: black;
      left: 20px;
    }
    .yb{
      	border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid red;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .yc{
      	border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid red;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .yd{
      	border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid orange;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .y3{
      	border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid black;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .y4{
      	border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid orange;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -10px);
    }
    .y5{
      	border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid black;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -20px);
    }
    
    
    // lower left triangle
    .y6{
      border-bottom: 40px solid black;
      border-right: 40px solid transparent;
      bottom: 0;
      left: 0;
    }
    // lower right triangle
    .y7{
      border-bottom: 40px solid black;
      border-left: 40px solid transparent;
      bottom: 0;
      right: 0;
    }
    // left black triangle
    .yw{
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid black;
      border-right: 30px solid transparent;
      top: 20px;
    }
  }


  // for the letter l
  &.l{
    .l1{
      height: 100%;
      width: 30px;
      background-color: black;
      left: 0;
    }
    .l2{
      height: 100%;
      width: 40px;
      background-color: red;
      right: 0;
    }
    .l3{
      height: 100px;
      width: 30px;
      background-color: black;
      right: 0;
    }
  }
  // for the letter e
  &.e{
    // height: 80px;
    background-color: red;
    //upper-right black triangle
    .e1{
      border-top: 40px solid black;
      border-right: 40px solid transparent;
    }
    //upper-right black triangle
    .e2{
      border-top: 40px solid black;
      border-left: 40px solid transparent;
      right: 0;
    }
    //lower-left black triangle
    .e3{
      border-bottom: 40px solid black;
      border-right: 40px solid transparent;
      bottom: 0;
    }
    //lower-right black triangle
    .e4{
      border-bottom: 40px solid black;
      border-left: 40px solid transparent;
      bottom: 0;
      right: 0;
    }
    // yellow triangle - middle of e
    .e5{
      border-top: 30px solid orange;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    // black triangle - middle of e
    .e6{
      border-top: 20px solid black;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    .e7{
      border-bottom: 30px solid orange;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    .e8{
      border-bottom: 20px solid black;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    .e9{
      background-color: black;
      height: 10px;
      width: 70px;
      right: 0;
      top: 50px;
    }
    .e10{
      background-color: orange;
      width: 10px;
      height: 10px;
      left: 10px;
      top: 50px;
    }
    
  }
  // for the letter m
  &.m{

  }
  // for the letter a
  &.a{

  }
  // for the letter r
  &.r{

  }
  // for the letter x
  &.x{

  }

}
