html, body {
  height: 100%; }

body {
  display: inline-block;
  margin: 0;
  width: 100%;
  background-color: #333; }

.main_screen {
  display: inline-block;
  width: 100%;
  height: 60%;
  position: relative;
  top: 20%; }
  .main_screen .screen {
    width: 90%;
    height: 100%;
    background: #101010;
    color: white;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.first {
  background-color: green; }

.second {
  background-color: red; }

.third {
  background-color: orange; }

.screen .hidden {
  display: none; }

.screen .shrunk {
  animation-name: shrink;
  animation-duration: 0.5s; }

.screen .grown {
  animation-name: grow;
  animation-duration: 0.5s; }

@keyframes shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    display: inline-block; }
  99% {
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001); }
  100% {
    display: none;
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001); } }
@keyframes grow {
  0% {
    display: none;
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001); }
  1% {
    display: inline-block;
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    display: inline-block; } }
footer {
  position: fixed;
  display: block;
  width: 100%;
  height: 125px;
  bottom: 0;
  left: 0; }
  footer .control_panel {
    display: inline-block;
    position: relative;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
    footer .control_panel .btn_container {
      display: inline-block;
      position: relative;
      top: 0;
      height: 100%; }
      footer .control_panel .btn_container .arcade_btn {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 0;
        margin: 1em;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        transition: box-shadow 200ms; }
        footer .control_panel .btn_container .arcade_btn.blue {
          background-color: #0000ff;
          box-shadow: inset 0 3.125px 0 #1a1aff, inset 0 -3.125px 0 #0000e6, inset 0 0 0 3.125px #0000f0, inset 0 0 0 8.33333px #0000ff, inset 0 0 0 10px #000099, inset 0 0 0 10.86957px black, inset 0 0 0 13.33333px rgba(153, 153, 255, 0.7), inset 0 0 0 18.18182px #0000ff, inset 0 40px 13.33333px #0000e6, inset 0 0 10px 16.66667px #0000cc, 0 5px 0 rgba(0, 0, 0, 0.3); }
        footer .control_panel .btn_container .arcade_btn.red {
          background-color: #ff0000;
          box-shadow: inset 0 3.125px 0 #ff1a1a, inset 0 -3.125px 0 #e60000, inset 0 0 0 3.125px #f00000, inset 0 0 0 8.33333px #ff0000, inset 0 0 0 10px #990000, inset 0 0 0 10.86957px black, inset 0 0 0 13.33333px rgba(255, 153, 153, 0.7), inset 0 0 0 18.18182px #ff0000, inset 0 40px 13.33333px #e60000, inset 0 0 10px 16.66667px #cc0000, 0 5px 0 rgba(0, 0, 0, 0.3); }
        footer .control_panel .btn_container .arcade_btn:after {
          content: '';
          position: absolute;
          bottom: 5px;
          left: 10px;
          display: block;
          width: 80px;
          height: 80px;
          border: 6.66667px solid rgba(0, 0, 0, 0.3);
          border-width: 0 0 6.66667px;
          border-radius: 50%;
          transition-duration: 200ms; }
        footer .control_panel .btn_container .arcade_btn:active.red, footer .control_panel .btn_container .arcade_btn.is-pushed.red {
          box-shadow: inset 0 3.125px 0 #ff1a1a, inset 0 -3.125px 0 #e60000, inset 0 0 0 3.125px #f00000, inset 0 0 0 8.33333px #ff0000, inset 0 0 0 10px #990000, inset 0 0 0 11.76471px #330000, inset 0 0 0 13.33333px rgba(255, 153, 153, 0.2), inset 0 0 0 18.18182px #f00000, inset 0 40px 13.33333px #d60000, inset 0 0 10px 16.66667px #b30000, 0 5px 0 rgba(0, 0, 0, 0.3);
          background-color: #f50000; }
        footer .control_panel .btn_container .arcade_btn:active.blue, footer .control_panel .btn_container .arcade_btn.is-pushed.blue {
          box-shadow: inset 0 3.125px 0 #1a1aff, inset 0 -3.125px 0 #0000e6, inset 0 0 0 3.125px #0000f0, inset 0 0 0 8.33333px #0000ff, inset 0 0 0 10px #000099, inset 0 0 0 11.76471px #000033, inset 0 0 0 13.33333px rgba(153, 153, 255, 0.2), inset 0 0 0 18.18182px #0000f0, inset 0 40px 13.33333px #0000d6, inset 0 0 10px 16.66667px #0000b3, 0 5px 0 rgba(0, 0, 0, 0.3);
          background-color: #0000f5; }
        footer .control_panel .btn_container .arcade_btn:active:after, footer .control_panel .btn_container .arcade_btn.is-pushed:after {
          bottom: 11.66667px;
          border-width: 0; }
    footer .control_panel .label_container {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 86px;
      margin: 0 10px; }
      footer .control_panel .label_container .label {
        position: absolute;
        display: inline-block;
        padding: 3px 10px;
        border: 3px solid;
        border-radius: 10px;
        border-color: white;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        footer .control_panel .label_container .label.red {
          background-color: red; }
        footer .control_panel .label_container .label.blue {
          background-color: blue; }
        footer .control_panel .label_container .label span {
          font-family: 'Varela Round', sans-serif;
          font-size: 1.5em;
          -webkit-text-stroke: 1px black;
          color: white;
          text-shadow: 1px 1px 0 #000; }

/*# sourceMappingURL=style2.css.map */
