html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

body {
  background-color: #333; }

.letter_container {
  position: relative;
  display: block;
  width: 200px;
  height: 200px; }
  .letter_container * {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    background-color: transparent; }
  .letter_container .note {
    perspective: 1000px;
    position: relative;
    display: inline-block;
    height: 150px;
    width: 180px;
    background: transparent;
    left: 50%;
    transform: translateX(-50%); }
    .letter_container .note .piece {
      display: inline-block;
      color: black;
      height: 33.33333%;
      width: 100%;
      background: transparent;
      transform-style: preserve-3d; }
      .letter_container .note .piece:nth-of-type(2) {
        background: white;
        top: 0;
        transform: translateY(100%); }
      .letter_container .note .piece.container {
        perspective: 1000px;
        position: absolute;
        z-index: 0; }
        .letter_container .note .piece.container.bottom {
          bottom: 0; }
        .letter_container .note .piece.container.top {
          top: 0; }
        .letter_container .note .piece.container .part {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 100%;
          transform: rotateX(0);
          transform-style: preserve-3d;
          transition: all 0.3s; }
          .letter_container .note .piece.container .part.bottom {
            transform-origin: top; }
          .letter_container .note .piece.container .part.top {
            transform-origin: bottom;
            transition-delay: 0.3s; }
          .letter_container .note .piece.container .part .front, .letter_container .note .piece.container .part .back {
            position: absolute;
            height: 100%;
            width: 100%;
            background: white;
            left: 0;
            backface-visibility: hidden;
            transition: transform 0.3s; }
          .letter_container .note .piece.container .part .front {
            background: yellow;
            transform: rotateX(0); }
          .letter_container .note .piece.container .part .back {
            transform: rotateX(180deg); }
          .letter_container .note .piece.container .part.folded {
            transition-duration: 0.3s;
            transform-style: preserve-3d;
            z-index: 2; }
            .letter_container .note .piece.container .part.folded.bottom {
              transform: rotateX(180deg); }
            .letter_container .note .piece.container .part.folded.top {
              transform: rotateX(-180deg); }
    .letter_container .note.moved {
      transition-duration: 0.25s;
      transition-delay: 0.6s;
      transform: translate(-50%, 120%); }
  .letter_container .envelope_container {
    display: inline-block;
    width: 100%; }
    .letter_container .envelope_container .main {
      width: 100%;
      height: 100px;
      background: cornsilk;
      z-index: 0; }
    .letter_container .envelope_container .top_container {
      perspective: 1000px;
      position: absolute;
      bottom: 100px;
      width: 100%;
      height: 50px;
      z-index: 0; }
      .letter_container .envelope_container .top_container.closed {
        z-index: 2;
        transition: z-index 0.5s;
        transition-delay: 0.5s; }
      .letter_container .envelope_container .top_container .top {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        transform: rotateX(0);
        transform-origin: bottom;
        transform-style: preserve-3d;
        transition: all 0.5s;
        transition-delay: 0.5s; }
        .letter_container .envelope_container .top_container .top .inside, .letter_container .envelope_container .top_container .top .outside {
          position: absolute;
          left: 0;
          backface-visibility: hidden;
          transition: transform 0.3s;
          border-left: 100px solid transparent;
          border-right: 100px solid transparent; }
        .letter_container .envelope_container .top_container .top .inside {
          border-top: 50px solid blueviolet;
          transform: rotateX(-180deg); }
        .letter_container .envelope_container .top_container .top .outside {
          border-bottom: 50px solid red;
          transform: rotateX(0deg); }
        .letter_container .envelope_container .top_container .top.closed {
          transition-delay: 0.85s;
          transition-duration: 0.5s;
          transform: rotateX(180deg);
          transform-origin: bottom;
          transform-style: preserve-3d;
          z-index: 2; }
    .letter_container .envelope_container .left, .letter_container .envelope_container .right {
      height: 50px;
      border-top: 50px solid transparent;
      z-index: 2; }
    .letter_container .envelope_container .left {
      left: 0;
      border-left: 100px solid white; }
    .letter_container .envelope_container .right {
      right: 0;
      border-right: 100px solid green; }

.send {
  margin: 10px;
  position: absolute;
  bottom: 0; }

/*# sourceMappingURL=style.css.map */
