$primary-color: #333;

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    background-color: $primary-color;
}
.letter_container{
    $env-ht: 50px;
    $env-w: 100px;
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    *{
        position: absolute;
        width: 0;
        height: 0;
        background-color: transparent;
        bottom: 0;
    }
    .main{
        width: 100%;
        height: 2 * $env-ht;
        background: cornsilk;
    }
    .top{
        display: inline-block;
        top: $env-ht;
        z-index: 1;
        height: 2 * $env-ht;
        width: 100%;
        transition-duration: 0.5s;
        .inside{
            top: 0;
            border-left: $env-w solid transparent;
            border-right: $env-w solid transparent;
            border-bottom: $env-ht solid cornsilk;
            backface-visibility: hidden;
        }
        .outside{
            top: 0;
            border-left: $env-w solid transparent;
            border-right: $env-w solid transparent;
            border-bottom: $env-ht solid white;
            backface-visibility: hidden;
        }
    }
 
    .left{
        left: 0;
        border-top: $env-ht solid transparent;
        border-left: $env-w solid white;
        height: $env-ht;
    }
    .right{
        right: 0;
        border-top: 50px solid transparent;
        border-right: 100px solid green;
        height: $env-ht;
    }
    
    .closed{
        transition-duration: 0.5s;
        transform-origin: $env-ht * 2;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    .invisible{
        visibility: hidden;
    }
}
.send{
    margin: 10px;
}
