$primary-color: #333;
$piece-ht: 100% / 3;
$single-trans-time: .3s;
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    background-color: $primary-color;
}

.fold-it{
  display: block;
  bottom: 0;
  position: absolute;
}

.note{
    perspective: 1000px;
    position: relative;
    display: inline-block;
    height: 300px;
    width: 150px;
    background: transparent;

    .piece{
        display: inline-block;
        color: black;
        height: $piece-ht;
        width: 100%;
        background: transparent;

        transform-style: preserve-3d;
        // transition-duration: 0.75s;

        &:nth-of-type(2){
            background: white;
            top: 0;
            transform: translateY(100%);
        }
    }

    .container{
        perspective: 1000px;
        position: absolute;
        z-index: 0;
        &.bottom{
            bottom: 0
        }
        &.top{
            top: 0;
        }

        .part{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            
            transform: rotateX(0);
            transform-style: preserve-3d;
            
            transition: all $single-trans-time;
            // transition-delay: $single-trans-time;     //time it takes note to move
            &.bottom{
                transform-origin: top;
            }
            &.top{
                transform-origin: bottom;
                transition-delay: $single-trans-time;
            }
            .front, .back{
                position: absolute;
                height: 100%;
                width: 100%;
                background: white;
                left: 0;
                backface-visibility: hidden;
                transition: transform 0.3s;
            }
            .front{
                background: yellow;
                transform: rotateX(0);
            }
            .back{
                transform: rotateX(180deg);
            }
            &.folded{
                transition-duration: $single-trans-time;
                transform-style: preserve-3d;
                z-index: 2;     //not sure how necessary
                &.bottom{
                    transform: rotateX(180deg);
                    
                }
                &.top{
                    transform: rotateX(-180deg);
                    // transition-delay: $single-trans-time;
                }
            } // end folded
        } // end part
    }

}