// for each color in the list, create a band that is 1/nth the width of the container, where n is the number of colors in the array
@mixin make-linear-gradient($colors...){
    $base: "linear-gradient(to bottom ";
    
    @for $i from 0 to length($colors){
        $temp: ", #{nth($colors, $i + 1)} #{($i) / length($colors) * 100}%, #{nth($colors, $i + 1)} #{($i + 1) / length($colors) * 100}%";
        $base: $base + $temp;
    }
    $base: $base + ")";
    background: unquote($base);
}

// for each color in the list, create a band that is 1/nth the width of the container, where n is the number of colors in the array
@mixin make-linear-gradient-forward-and-reverse($colors...){
    $base: "linear-gradient(to bottom ";
    
    // from 0 to 50%, create bands of color iterating through the colors in the list in the forwards direction. each band will be 1/(2n)th the height of the container div
    @for $i from 0 to length($colors){
        $temp: ", #{nth($colors, $i + 1)} #{($i) / length($colors) / 2 * 100}%, #{nth($colors, $i + 1)} #{($i + 1) / length($colors) / 2 * 100}%";
        $base: $base + $temp;
    }
    // from 50 to 100%, create bands of color iterating through the colors in the list in the backwards direction. each band will be 1/(2n)th the height of the container div
    @for $i from 0 to length($colors){
        $temp: ", #{nth($colors, length($colors) - ($i) )} #{50 + ($i) / length($colors) / 2 * 100}%, #{nth($colors, length($colors) - ($i) )} #{50 + ($i + 1) / length($colors) / 2 * 100}%";
        $base: $base + $temp;
    }
    $base: $base + ")";
    background: unquote($base);
}

// for each color in the list, create a band that is 1/nth the width of the container, where n is the number of colors in the array
@mixin make-linear-gradient-forward-and-reverse-from-single-color($base-color, $steps){
    // create list of colors based on base-color
    // start color list
    $colors: ($base-color);
    @for $i from 1 to $steps {
        $new-color: lighten($base-color, 50 / $steps * ($i+1));
        $colors: append($colors, $new-color);
    }

    $base: "linear-gradient(to bottom ";
    // from 0 to 50%, create bands of color iterating through the colors in the list in the forwards direction. each band will be 1/(2n)th the height of the container div
    @for $i from 0 to length($colors) {
        $temp: ", #{nth($colors, $i + 1)} #{$i / length($colors) / 2 * 100}%, #{nth($colors, $i + 1)} #{($i + 1) / length($colors) / 2 * 100}%";
        $base: $base + $temp;
    }
    // from 50 to 100%, create bands of color iterating through the colors in the list in the backwards direction. each band will be 1/(2n)th the height of the container div
    @for $i from 0 to length($colors){
        $temp: ", #{nth($colors, length($colors) - ($i) )} #{50 + ($i) / length($colors) / 2 * 100}%, #{nth($colors, length($colors) - ($i) )} #{50 + ($i + 1) / length($colors) / 2 * 100}%";
        $base: $base + $temp;
    }
    $base: $base + ")";
    background: unquote($base);
}